:root { 
--black_900_7f:#0000007f; 
--gray_600:#7a7a7a; 
--white_A700_4c:#ffffff4c; 
--black_900_4c:#0000004c; 
--gray_400:#b5b5b5; 
--black_900_e5:#020202e5; 
--blue_gray_100:#d9d9d9; 
--red_600:#e53838; 
--lime_800:#b1a21e; 
--blue_gray_100_01:#cccccc; 
--red_800:#cc181e; 
--gray_300:#dbdbdb; 
--indigo_400:#428bca; 
--teal_300:#48c78e; 
--black_900:#000000; 
--blue_gray_800:#1b3c5d; 
--white_A700:#ffffff; 
--blue_gray_900_72:#0e274072; 
}